#navbar{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

#navbar h2{
  color: #7703fc;
  font-weight: 900;
}

/*
.btn{
  border: 1px solid #7703fc;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #7703fc;
  color: #fff;
  transition: 0.3s;
}

.btn:hover{
  background-color: #f5f6fa;
  color: #7703fc;
}*/